In [1]:
import pandas as pd
data = pd.read_excel("Target Profile Data - HR, Accounting, Ops - Updated.xlsx")
print(data.info())
data=data[['Job Family','Functional Area','Position #','Job Profile']]
data=data[data['Functional Area'] == "Human Resources"]
data=data.dropna()
print(data.info())
data.head(5)

for i in set(data['Functional Area']):
    print("^^^^^",i + ": ",len(data[data['Functional Area'] == i]))
    for i in set(data[data['Functional Area'] == i]['Job Profile']):
        print(i + ": ",len(data[data['Job Profile'] == i]))


features=[]
labels=[]               
features.extend(list(data[['Job Family','Functional Area','Position #']].apply(lambda x: ''.join(x), axis=1).values))              
labels.extend(list(data[['Job Profile']].apply(lambda x: ''.join(x), axis=1).values))
features.extend(list(data[['Job Family','Position #']].apply(lambda x: ''.join(x), axis=1).values))              
labels.extend(list(data[['Job Profile']].apply(lambda x: ''.join(x), axis=1).values))
features.extend(list(data[['Functional Area','Position #']].apply(lambda x: ''.join(x), axis=1).values))              
labels.extend(list(data[['Job Profile']].apply(lambda x: ''.join(x), axis=1).values))
features.extend(list(data[['Job Profile']].apply(lambda x: ''.join(x), axis=1).values))              
labels.extend(list(data[['Job Profile']].apply(lambda x: ''.join(x), axis=1).values))
features.extend(list(data[['Job Profile','Position #']].apply(lambda x: ''.join(x), axis=1).values))              
labels.extend(list(data[['Job Profile']].apply(lambda x: ''.join(x), axis=1).values))
features.extend(list(data[['Position #']].apply(lambda x: ''.join(x), axis=1).values))              
labels.extend(list(data[['Job Profile']].apply(lambda x: ''.join(x), axis=1).values))

print(len(features),len(labels))
dfa=pd.DataFrame({"features":[i.lower() for i in features],"labels":labels})
print("44444",dfa.head(3))
for i in set(dfa['labels']):
    print(i)
    print("^^^^^",i + ": ",len(dfa[dfa['labels']== i]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 76 columns):
Name                          0 non-null float64
Last Name                     0 non-null float64
First Name                    0 non-null float64
Nickname (Known As)           0 non-null float64
Date of Birth                 0 non-null float64
Adjusted Service Date         0 non-null float64
First Working Day             0 non-null float64
Vacation Service Date         0 non-null float64
Personnel Subarea             1795 non-null object
Personnel Area                1795 non-null object
Country Grouping              1795 non-null object
Unnamed: 11                   0 non-null float64
Pay Grade                     0 non-null float64
Pay Scale Group               0 non-null float64
Annual Salary                 0 non-null float64
Employment Percent            1795 non-null object
Manager (Chief) #             1795 non-null int64
Manager (Chief)               0 non-null float64
Master Cost Center #          1795 non-null int64
Master Cost Center            1795 non-null object
Company code                  1795 non-null int64
Company code #                1795 non-null object
Gender                        0 non-null float64
HR Business Partner           0 non-null float64
Organizational Unit #         1795 non-null int64
Husky Level                   1795 non-null object
Organizational Unit           1795 non-null object
Job #                         1795 non-null int64
Job                           1795 non-null object
Position                      1795 non-null int64
Proposed job                  1795 non-null object
Job Profile                   1795 non-null object
Position #                    1795 non-null object
Job Family                    1795 non-null object
Job Family #                  1795 non-null int64
Functional Area               1795 non-null object
Primary Survey Match          864 non-null object
Employee Group (Position)     1795 non-null object
Employee Group (Person)       1795 non-null object
Employee Subgroup (Person)    1795 non-null object
Employment Status             1795 non-null object
Number of Employees           1795 non-null int64
Combination                   1795 non-null object
Level 1                       1795 non-null object
Level 2                       1795 non-null object
Chief                         1795 non-null object
Vacancy Type                  1795 non-null object
BU                            1795 non-null object
BU-1                          1795 non-null object
BU-2                          1783 non-null object
BU-3                          1710 non-null object
BU-4                          1435 non-null object
BU-5                          1097 non-null object
BU-6                          44 non-null object
BU-7                          44 non-null object
BU-8                          11 non-null object
BU-9                          0 non-null float64
BU #                          1795 non-null object
BU # -1                       1795 non-null object
BU # -2                       1783 non-null float64
BU # -3                       1710 non-null float64
BU # -4                       1435 non-null float64
BU # -5                       1097 non-null float64
BU # -6                       345 non-null float64
BU # -7                       44 non-null float64
BU # -8                       11 non-null float64
BU # -9                       0 non-null float64
SVP                           1795 non-null object
SVP-1                         1795 non-null object
SVP-2                         1783 non-null object
SVP-3                         1710 non-null object
SVP-4                         1435 non-null object
Safety Sensitive Y/N          0 non-null float64
Safety Statement              0 non-null float64
Competency Level              104 non-null object
Working Conditions            0 non-null float64
dtypes: float64(27), int64(8), object(41)
memory usage: 1.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 0 to 103
Data columns (total 4 columns):
Job Family         104 non-null object
Functional Area    104 non-null object
Position #         104 non-null object
Job Profile        104 non-null object
dtypes: object(4)
memory usage: 4.1+ KB
None
^^^^^ Human Resources:  104
HR Mgr, Benefits:  1
HR Mgr, Payroll:  1
HR Analyst/Advisor, Talent Acquisition:  13
HR Mgr, Business Partner:  2
HR Analyst, Workforce Planning:  1
HR Analyst/Advisor, Compensation:  4
HR Advisor, Global Mobility:  2
HR Vice President:  1
HR Analyst/Advisor, Shared Services:  10
HR Analyst/Advisor, Payroll:  8
HR Mgr, Diversity & Inclusion:  1
HR Analyst/Advisor, Organizational Effectiveness, Competency or LMS:  11
HR Business Partner:  11
HR Manager:  7
HR Mgr, Organizational Effectiveness or Competency and LMS:  2
HR Mgr, Compensation:  1
HR Advisor, Business Process:  1
HR Team Lead:  4
Occupational Health Nurse:  2
HR Mgr, Workforce Planning:  1
HR Analyst/Advisor, Benefits:  5
Analyst/Advisor, Training:  7
Team Lead, Training and Competency:  2
HR Mgr, Talent Acquisition and Global Mobility:  1
HR Mgr, Shared Services:  1
HR Director:  4
624 624
44444                                             features  \
0  hr advisors (us)human resourceshr advisor, tra...
1  hr advisorshuman resourcessr tech training & c...
2      hr advisorshuman resourcessr training advisor

                      labels
0  Analyst/Advisor, Training
1  Analyst/Advisor, Training
2  Analyst/Advisor, Training
HR Mgr, Benefits
^^^^^ HR Mgr, Benefits:  6
HR Mgr, Payroll
^^^^^ HR Mgr, Payroll:  6
HR Analyst/Advisor, Talent Acquisition
^^^^^ HR Analyst/Advisor, Talent Acquisition:  78
HR Mgr, Business Partner
^^^^^ HR Mgr, Business Partner:  12
HR Analyst, Workforce Planning
^^^^^ HR Analyst, Workforce Planning:  6
HR Analyst/Advisor, Compensation
^^^^^ HR Analyst/Advisor, Compensation:  24
HR Advisor, Global Mobility
^^^^^ HR Advisor, Global Mobility:  12
HR Vice President
^^^^^ HR Vice President:  6
HR Analyst/Advisor, Shared Services
^^^^^ HR Analyst/Advisor, Shared Services:  60
HR Analyst/Advisor, Payroll
^^^^^ HR Analyst/Advisor, Payroll:  48
HR Mgr, Diversity & Inclusion
^^^^^ HR Mgr, Diversity & Inclusion:  6
HR Analyst/Advisor, Organizational Effectiveness, Competency or LMS
^^^^^ HR Analyst/Advisor, Organizational Effectiveness, Competency or LMS:  66
HR Business Partner
^^^^^ HR Business Partner:  66
HR Manager
^^^^^ HR Manager:  42
HR Mgr, Organizational Effectiveness or Competency and LMS
^^^^^ HR Mgr, Organizational Effectiveness or Competency and LMS:  12
HR Mgr, Compensation
^^^^^ HR Mgr, Compensation:  6
HR Advisor, Business Process
^^^^^ HR Advisor, Business Process:  6
HR Team Lead
^^^^^ HR Team Lead:  24
Occupational Health Nurse
^^^^^ Occupational Health Nurse:  12
HR Mgr, Workforce Planning
^^^^^ HR Mgr, Workforce Planning:  6
HR Analyst/Advisor, Benefits
^^^^^ HR Analyst/Advisor, Benefits:  30
Analyst/Advisor, Training
^^^^^ Analyst/Advisor, Training:  42
Team Lead, Training and Competency
^^^^^ Team Lead, Training and Competency:  12
HR Mgr, Talent Acquisition and Global Mobility
^^^^^ HR Mgr, Talent Acquisition and Global Mobility:  6
HR Mgr, Shared Services
^^^^^ HR Mgr, Shared Services:  6
HR Director
^^^^^ HR Director:  24

In [2]:
import nltk
import numpy as np
nltk.download('wordnet')
nltk.download('punkt')

from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\r.ishwar.chaudhari\AppData\Roaming\nltk_data.
[nltk_data]     ..
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\r.ishwar.chaudhari\AppData\Roaming\nltk_data.
[nltk_data]     ..
[nltk_data]   Package punkt is already up-to-date!

In [3]:
import pandas as pd
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer,TfidfTransformer
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble  import RandomForestClassifier
from sklearn.externals import joblib
from sklearn.ensemble import  GradientBoostingClassifier

C:\D\Installation\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [4]:
dfa.head()

,features,labels
0,"hr advisors (us)human resourceshr advisor, tra...","Analyst/Advisor, Training"
1,hr advisorshuman resourcessr tech training & c...,"Analyst/Advisor, Training"
2,hr advisorshuman resourcessr training advisor,"Analyst/Advisor, Training"
3,hr advisorshuman resourcesoperations training ...,"Analyst/Advisor, Training"
4,hr advisorshuman resourcesretail & commercial ...,"Analyst/Advisor, Training"

In [13]:
vec=TfidfVectorizer()

d=vec.fit_transform(dfa['features'])

In [3]:
data['data']= data[['Job Family','Functional Area','Position #']].apply(lambda x: ''.join(x), axis=1)
print("Total Length:",len(data['data']))
data['data']=data['data'].dropna()
print("Total Length after removing NA:",len(data['data']))
print("unique Length:",len(set(data['data'])))

word_count = data['data'].apply(lambda x: len(str(x).split(" ")))
print("max word count",max(word_count))
print("min word count",min(word_count))
print("max word count",sum(word_count)/len(word_count))
print("average character count",max(data['data'].str.len()))
print("min character count",min(data['data'].str.len()))
stop_words= data['data'].apply(lambda x: len([x for x in x.split() if x in stop]))
print("Total Stop Words",sum(stop_words))
special_character = data['data'].apply(lambda x: len([x for x in x.split() if x in ('&','@','#','$','%','!')]))
print("Total special_character",sum(special_character))
numerics = data['data'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
print("Total numbers",sum(numerics))
upper = data['data'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
print("Total upprdata['data']se",sum(upper))

#data['data'] = data['data'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#data['data'] = data['data'].str.replace('[^\w\s]','')
#data['data'] = data['data'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

cfreq = pd.Series(' '.join(data['data']).split()).value_counts()[:10]
print("\n\nCommon words and count:\n",cfreq,'\n\n')
rfreq = pd.Series(' '.join(data['data']).split()).value_counts()[-10:]
print("\n\nrare words and count:\n",rfreq,'\n\n')

data['data']=data['data'].apply(lambda x: " ".join(x for x in x.split() if x not in rfreq))
#data['data'] =data['data'].apply(lambda x: " ".join[Word(word).lemmatize() for word in x.split()])
####

Total Length: 104
Total Length after removing NA: 104
unique Length: 71
max word count 9
min word count 4
max word count 6.278846153846154
average character count 66
min character count 38
Total Stop Words 0
Total special_character 17
Total numbers 0
Total upprdata['data']se 140


Common words and count:
 HR               129
AdvisorsHuman     71
ResourcesHR       42
Advisor,          31
ResourcesSr       27
Analyst,          20
Advisors          19
&                 17
ResourcesMgr,     15
Payroll           13
dtype: int64




rare words and count:
 Nurse,                   1
(IN)Human                1
China                    1
Disability               1
Pacific                  1
HCR                      1
ResourcesOccupational    1
Serv                     1
Factors                  1
Operations               1
dtype: int64

In [14]:

from sklearn.externals import joblib
train=dfa.sample(frac=0.8,random_state=200)
test=dfa.drop(train.index)

train_X = train['features']
train_Y = train['labels']
test_X =  test ['features']
test_Y =  test['labels']

In [15]:
print(len(train_X),len(test_X))

print(len(set(dfa['labels'])))

499 125
26

In [16]:
logreg = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', SGDClassifier(loss="log")),
               ])
print ('********** Test data results ***************')
logreg.fit(train_X, train_Y)
y_pred = logreg.predict(test_X)
print('accuracy %s' % accuracy_score(y_pred, test_Y))
print ('********** Train data results ***************')
y_pred = logreg.predict(train_X)
print('accuracy %s' % accuracy_score(y_pred, train_Y))
#print(classification_report(test_Y, y_pred))

********** Test data results ***************
accuracy 0.944
********** Train data results ***************
accuracy 0.9959919839679359

c:\users\r.hrudesh.malakwade\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [298]:
print(logreg.predict(["human resource analyst"]))
print(np.max(logreg.predict_proba(["human resource analyst"])))

['HR Analyst/Advisor, Payroll']
0.501714033928496

In [275]:
joblib.dump(logreg,'Operations.model')

['Operations.model']

In [276]:
logreg1 = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(n_estimators=300,max_depth=500)),
               ])
print ('********** Test data results ***************')
logreg1.fit(train_X, train_Y)
y_pred = logreg1.predict(test_X)
print('accuracy %s' % accuracy_score(y_pred, test_Y))
print ('********** Train data results ***************')
y_pred = logreg.predict(train_X)
print('accuracy %s' % accuracy_score(y_pred, train_Y))

********** Test data results ***************
accuracy 0.9882121807465619
********** Train data results ***************
accuracy 0.9965601965601966

In [277]:
print(logreg1.predict(["Benefits Analyst"]))
print(np.max(logreg1.predict_proba(["Benefits Analyst"])))

['Logistics Analyst']
0.6666666666666666

In [ ]:
profiles
structured
doc2vec
meanshift clustering
kmean clustering
downloaded 

classification model
fit
(model)new version model (model name/ download for model,stats)


model change API


UPload

classification model
fit
(model)new version model (model name/ download for model,stats)


model change API